/*VARIABLES*/
:root {
    --space-1: 0.25rem; /* 4px */
    --space-2: 0.5rem;  /* 8px */
    --space-3: 1rem;    /* 16px */
    --space-4: 2rem;    /* 32px */

    --radius-sm: 0.25rem; /* 4px */
    --radius-md: 0.5rem;  /* 8px */
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: var(--space-2);

    box-sizing: border-box;
    overflow: hidden;

    background-color: #130F17;
    color: white;
    font-family: Arial, sans-serif;    
}

button {
    width: 100%;
    height: 32px;
    padding: var(--space-1) var(--space-2);
    box-sizing: border-box;

    background-color: #221C27;
    color: white;

    border: 1.5px solid #B66DFF;
    border-radius: var(--radius-sm);

    font-size: 16px;
    font-weight: bold;
    text-align: center;
    
    cursor: pointer;
}

input,
textarea {
    padding: var(--space-1) var(--space-2);
    box-sizing: border-box;

    background-color: #130F17;
    color: white;

    border: 1.5px solid #B66DFF;
    border-radius: var(--radius-sm);

    outline: none;
}

input {
    margin: 0 0 var(--space-1) 0;
}

textarea {
    width: 100%;
    resize: none;
    height: 160px;
}

ul {
    display: flex;
    justify-content: left;
    gap: var(--space-2);

    margin: 0;
    padding: var(--space-1);
    
    list-style: none;
}

hr {
    width: 100%;
    border: 1px solid #B66DFF;
}

h2,
h3 {
    margin: var(--space-2) 0 var(--space-1) 0;
    font-style: italic;
}

p {
    margin: var(--space-1) 0;
}

.overlay {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

.overlay.hidden {
    display: none;
}

.modular-panel {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    max-height: 80%;

    background: #130F17;
    color: white;

    border: 2px solid #B66DFF;
    border-radius: var(--radius-md);

    padding: var(--space-2);
    gap: var(--space-2);

    .panel-upper {
        display: flex;
        gap: var(--space-3);

        overflow-y: auto;
        overflow-x: hidden;
    }

    .panel-lower {
        display: flex;
        justify-content: right;

        button {
            width: fit-content;
        }
    }

    .panel-right,
    .panel-left {
        padding-right: var(--space-2);

        overflow-y: auto;
        overflow-x: hidden;

        scrollbar-gutter: stable;
    }

    .panel-left {
        width: fit-content;
        flex-shrink: 0;

        border-radius: var(--radius-md);
        flex-direction: column;
    }

    .panel-right-content,
    .panel-left-content {
        display: flex;
        flex-direction: column;

        width: fit-content;
        height: 100%;
        padding: var(--space-1);

        flex-shrink: 0;

        background-color: #241C2C;
        border-radius: var(--radius-md);
        
        text-align: justify;
    }

    .panel-left-content {
        height: fit-content;
    }
}

.upper-container {
    display: flex;
    align-items: center;
    gap: var(--space-2);

    padding: var(--space-1);

    background-color: #241C2C;
    border-radius: var(--radius-md);

    font-size: 24px;

    h2 {
        font-weight: lighter;
        font-style: normal;
    }

    button {
        width: fit-content;
    }
}

.lower-container {
    display: flex;
    flex: 1;

    gap: var(--space-3);
    padding-bottom: var(--space-3);

    overflow: hidden;
    flex-shrink: 0;
}

.left-container {
    width: fit-content;
    padding: var(--space-2) var(--space-1) 0 var(--space-1);

    flex-shrink: 0;
    flex-direction: column;

    background-color: #241C2C;
    border-radius: var(--radius-md);
}

.right-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--space-2);

    padding-right: var(--space-2);

    overflow-y: auto;
    overflow-x: hidden;
    
    scrollbar-gutter: stable;
}

.option-list {
    display: flex;
    flex-direction: column;
}

.bio,
.archetype,
.friendship-libretto,
.romance-libretto,
.lux-est,
.pact {
    padding: var(--space-2);

    background-color: #241C2C;
    border-radius: var(--radius-md);
}

.bio-upper,
.advances,
.archetype-description {
    display: flex;
    gap: var(--space-3);
}

.bio-upper-left input,
.bio-upper-right input {
    width: 100%;
}

.archetype-description ul,
.archetype-abilities ul,
.advance-movements ul,
.pact ul,
.lux-est ul,
.pact ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

/* TABLES */
.lux-habitu-table,
.romance-table {
    width: 100%;
    margin: var(--space-2) 0 0 0;

    border: 2px solid #B66DFF;
    border-spacing: 0;
    border-radius: var(--radius-md);

    overflow: hidden;

    text-align: center;
}

th,
td {
    padding: var(--space-1);

    border-right: 1.5px solid #B66DFF;
    border-bottom: 1.5px solid #B66DFF;
}

.lux-habitu-table thead tr:first-child th {
    padding: var(--space-3);

    font-size: 32px;
    font-style: italic;
}

.lux-habitu-table th,
.romance-table th {
    font-style: italic;
    font-weight: bold;
}

.lux-habitu-table td,
.lux-habitu-table th,
.romance-table td,
.romance-table th {
    padding: var(--space-1);
}

.lux-habitu-table tr:last-child td,
.romance-table tr:last-child td {
    border-bottom: none;
}

.lux-habitu-table td:last-child,
.lux-habitu-table th:last-child,
.romance-table td:last-child,
.romance-table th:last-child {
    border-right: none;
}

.romance-table td:first-child {
    font-weight: bold;
}

/* scrollbar */
textarea::-webkit-scrollbar,
.right-container::-webkit-scrollbar,
.panel-right::-webkit-scrollbar,
.panel-left::-webkit-scrollbar {
    width: 16px;

    background: #241C2C;
    border-radius: var(--radius-md);
}

textarea::-webkit-scrollbar-thumb,
.right-container::-webkit-scrollbar-thumb,
.panel-right::-webkit-scrollbar-thumb,
.panel-left::-webkit-scrollbar-thumb {
    background: #B66DFF;
    border-radius: var(--radius-md);
}